<mat-card class="page-card">
  <!-- Header  -->
  <div class="page-header">
    <h2>Clientes</h2>

    <!-- New Button -->
    <button mat-raised-button color="primary" routerLink="/app/customers/new">
      Nuevo Cliente 
    </button>
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>


  <ng-container *ngIf="customers$ | async as customers; else loadingTpl">

    <!-- Vacío -->
    <div *ngIf="customers.length === 0 && !error" class="empty">
      No hay clientes aún.
    </div>


    <table *ngIf="customers.length > 0" class="customers-table"
      style="width: 100%; border-collapse: collapse; margin-top: 16px;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th class="actions-col">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.address }}</td>
          <td class="actions">
            <a>Ver</a>
            <a>Editar</a>
            <a class="danger">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #loadingTpl>
    <div class="loading">Cargando clientes...</div>
  </ng-template>
</mat-card>